<!-- 销售商机 -->
<html xmlns:th="http://www.thymeleaf.org">
<div id="sales">
  <div>
  <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="inputCustomer" placeholder="请输入客户名称">
  </div>

  <div class="form-group">
	<select name="city" id="adr" class="form-control">
		 <option>请选择所属地区</option>
        <option value="0" id="o">华中</option>
        <option value="1" id="o">华北</option>
        <option value="2" id="o">华南</option>
        <option value="3" id="o">华东</option>
	</select>
  </div>
  <input class="btn btn-default search" type="button" value="查询" th:onclick="|find()|">
  <input class="btn btn-default" type="reset" value="重置">
  <input class="btn btn-default" type="button" value="新增" id="add" th:onclick="|saveChance()|">

</form>
</div>

<div>
	<table class="table table-hover" >
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>序号</th>
		      <th>客户名称</th>
		      <th>概要</th>
		      <th>联系人</th>
		      <th>联系电话</th>	
		      <th>商机指派</th>		 
			  <th>操作</th>
		    </tr> 
		  </thead>

		  <tbody th:each="chance:${session.chances}">
		    <tr>
		     <td th:text="${chance.id}">1</td>
		      <td th:text="${chance.customer}">李四</td>
		      <td th:text="${chance.title}">这是概要,概要</td>
		      <td th:text="${chance.linkman}">王五</td>
		      <td th:text="${chance.phone}">1897456</td>
		      <td th:text="${chance.handler.id}">指派啊</td>
		      <td>
		      	<i  class="layui-icon layui-icon-edit editUser" th:onclick="|updateChance(${chance.id})|"></i>  
		      	<i  class="layui-icon layui-icon-delete deleteUser" th:onclick="|deleteChance(${chance.id})|"></i>   
		      </td>
		    </tr> 
         </tbody>
    </table>
</div>
<div class="fenye">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous" th:if="${session.chances.hasPrevious()==false}">
	        <span aria-hidden="true" style="color:#ABABAB">上一页</span>
	      </a>
	      <a href="#" aria-label="Previous" th:if="${session.chances.hasPrevious()==true}"
	                                        th:onclick="|selectChancePage(${session.chances.number-1})|">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    
	    <li class="active"  th:each="num:${#numbers.sequence(1,session.chances.totalPages)}"
	                         th:attr="class=(${session.chances.number}==${num-1}?'active':'')">
	    	<a href="#" th:text="${num}" th:onclick="|selectChancePage(${num-1})|">1</a>
	    </li>
	    
	    <li>
	      <a href="#" aria-label="Next" th:if="${session.chances.hasNext()==false}">
	        <span aria-hidden="true" style="color:#ABABAB">下一页</span>
	      </a>
	      <a href="#" aria-label="Next"  th:if="${session.chances.hasNext()==true}"
	                                     th:onclick="|selectChancePage(${session.chances.number+1})|">
	        <span aria-hidden="true" style="color:#ABABAB">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog" style="height:400px;overflow:auto;">
    <div class="modal-content">
       <form id="addform">
					<div class="modal-body">
						<div class="form-group">
							<label>商机来源:</label>
							<input type="text" name="sourceName"  class="form-control">
						</div>
						<div class="form-group">
							<label>客户名称:</label>
							<input type="text" name="customerName" class="form-control">
						</div>
						<div class="form-group">
							<label>成功几率:</label>
							<input type="text" name="rateName" class="form-control">
						</div>
						<div class="form-group">
							<label>商机概要:</label>
							<input type="text" name="titleName" class="form-control">
						</div>
						<div class="form-group">
							<label>所属地区:</label>
							<select name="addressName" id="" class="form-control">
								<option value="">请选择所属地区</option>
						        <option value="1">华中</option>
						        <option value="2">华北</option>
						        <option value="3">华南</option>
						        <option value="4">华东</option>
							</select>
						</div>
						<div class="form-group">
							<label>联系人:</label>
							<input type="text" name="linkmanName" class="form-control">
						</div>
						<div class="form-group">
							<label>联系电话:</label>
							<input type="text" name="phoneName" class="form-control">
						</div>
						<div class="form-group">
							<label>创建人:</label>
							<input type="text" name="creatorName" class="form-control"
							       th:value="${session.user.name}" readonly="readonly">
							       <input type="hidden" name="creatorId"  th:value="${session.user.id}">
						</div>
						<div class="form-group">
							<label>处理人:</label>
							<select name="handlerName" id="" class="form-control">
								<option value="">请选择处理人</option>
								<th:block th:each="jingli:${session.Jinglis}">
						        <option th:value="${jingli.id}" th:text="${jingli.name}">jingli1</option>
						        </th:block>
							</select>
						</div>
						<div class="form-group">
							<label>商机描述:</label>
							<input type="textarea" name="descriptionName" style="height:60px" class="form-control">
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>

</div>
<style>
#sales{
	width: 1140px;
	overflow: hidden;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
.fenye{
	margin-left: 400px;
}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.search{
		margin-left: 50px;
	}
	#add{
		margin-left: 560px;
	}
	.table th,td{
		text-align: center;
	}
	#deleteModal{
		margin-top: 100px;
	}
	#toAdd{
		margin-top: 50px;
	}
</style>
<script type="text/javascript">
   function selectChancePage(num){
	   $("#sales").load("chancePage",{Index:num});
   }

    function saveChance(){
    	document.getElementById("addform").reset();
    	// 点击新增显示模态框
		$('#toAdd').show();
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				var sName = $("input[name=sourceName]").val();
				var cuName = $("input[name=customerName]").val();
				var rName = $("input[name=rateName]").val();
				var tName = $("input[name=titleName]").val();
				var aName = $("select[name=addressName] option:selected").text();
				var pName = $("input[name=phoneName]").val();
				var lName = $("input[name=linkmanName]").val();
				var ctName = $("input[name=creatorId]").val();
				var hName = $("select[name=handlerName] option:selected").val();
				var dName = $("input[name=descriptionName]").val();
				
				
				
				$.post("saveChance",{source:sName,customer:cuName,rate:rName,
					title:tName,address:aName,phone:pName,linkman:lName,
					creator:ctName,handler:hName,description:dName},function(data){
						alert(data);
						$("#sales").load("toChance");
					});
				
				
		});	
		
    }
    
    function deleteChance(id){
    	// 显示删除模态框
			$('#deleteModal').show();
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			$.post("deleteChance",{id:id},function(data){
				alert(data);
				$("#sales").load("toChance");
			});
			
			
		})
    }
    
    function updateChance(id){
    	// 点击编辑显示模态框
		$('#toAdd').show();
    	$.post("findChanceById",{id:id},function(data){
    		$("input[name=sourceName]").val(data.source);
    		$("input[name=customerName]").val(data.customer);
    		$("input[name=rateName]").val(data.rate);
    		$("input[name=titleName]").val(data.title);
    		if(data.address == "华中"){
    			$("select[name=addressName]").val(1);
    		}else if(data.address == "华北"){
    			$("select[name=addressName]").val(2);
    		}else if(data.address == "华南"){
    			$("select[name=addressName]").val(3);
    		}else if(data.address == "华东"){
    			$("select[name=addressName]").val(4);
    		}
    		$("input[name=phoneName]").val(data.phone);
    		$("input[name=linkmanName]").val(data.linkman);
    		$("input[name=creatorName]").val(data.creator.id);
    		$("select[name=handlerName]").val(data.handler.id);
    		$("input[name=descriptionName]").val(data.description);
    		
    	});
		
		
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				var sName = $("input[name=sourceName]").val();
				var cuName = $("input[name=customerName]").val();
				var rName = $("input[name=rateName]").val();
				var tName = $("input[name=titleName]").val();
				var aName = $("select[name=addressName] option:selected").text();
				var pName = $("input[name=phoneName]").val();
				var lName = $("input[name=linkmanName]").val();
				var ctName = $("input[name=creatorName]").val();
				var hName = $("select[name=handlerName] option:selected").val();
				var dName = $("input[name=descriptionName]").val();
				
				$.post("saveChance",{id:id,source:sName,customer:cuName,rate:rName,
					title:tName,address:aName,phone:pName,linkman:lName,
					creator:ctName,handler:hName,description:dName},function(data){
						alert(data);
						
					});
				$("#sales").load("toChance");
		});	
    }
    
    function find(){
    	// 查询
    	var inp = $("input[id=inputCustomer]").val();
    	var adr = $("select[id=adr] option[id=o]:selected").text();
		$("#sales").load("toChance",{customer:inp,address:adr});
    }
    

</script>
</html>